body{
	background-color: #E3F4FA;
}

#photo{
	border:8px solid #8782BF;
	border-radius: 100px;
}


#fl{
	background-image: url(img/guitar.jpg);
	background-color: #AAE9FA;
	padding: 15px;
	margin-top:-5px;
	text-align: center;
	font-size: 20px;


}

.line{
	color:#020952;
	background-color: #C4C7CF; 
	border:3px solid #0F22F5;
	border
	margin-left:10px;
	margin-right:10px;
	padding:5px;
	border-radius: 30px;
	text-decoration: none;
	opacity: 0.4;
}


	
.line:hover{
	opacity:1.0;
	box-shadow: 1px 3px 15px #92F0F0; 
}



